<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RecyclingProject.Client</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RecyclingProject.Client.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/ddd05a221a.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <nav>
            <div class="logo">
                RecyclingSite  <i class="fa-solid fa-recycle"></i>
            </div>
            <div>
                <div>
                    <ul>
                        @*<li>
                            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>*@
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if (@User.Identity!.IsAuthenticated)
                        {
                            <li>
                                <a asp-action="Logout" asp-controller="User">Log out</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-action="Login" asp-controller="User">Log in</a>
                            </li>
                            <li>
                                <a asp-action="RegisterHomePage" asp-controller="User">Register now</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="welcome">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="privcy-div-style">
            &copy; 2022 - RecyclingProject-DorSirton && YoavKognizov - <a class="a-obj" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>