
@{
    ViewData["Title"] = "RegisterHomePage";
}

<div class="text-center">

<h1>Register As a New User !</h1>
<button class="my-btn"><a asp-action="RegisterCollector">Register as a Collector</a></button>
<button class="my-btn"><a asp-action="RegisterRecycler">Register as a Recycler</a></button>
</div>


