@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <button class="my-btn"><a  asp-controller="User" asp-action="Login">Sign-In</a></button>
    <button class="my-btn"><a asp-controller="User" asp-action="RegisterHomePage">Register</a></button>
</div>
