@{
    ViewData["Title"] = "NoValueToCash";
}

<div class="text-center">
<h1>Sorry, you have no value to cash.<br />Collect bottles and try again later</h1>

<button class="my-btn"><a asp-controller="Recycler" asp-action="RecyclerDetails" asp-route-recyclerId="@ViewBag.Id">Return to details</a></button>


</div>
